*
{
    margin: 0;
    padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

html
{
    background-color: #1f4498;
    color: white;
    font-family: 'Muli';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* HOME PAGE */

.main
{
    width: 100%;
    height: 100vh;
    background-image: url("img/WebpageBG.png");
    background-size: cover;
}

.container
{
    padding: 3rem 6rem;
}

.navbar
{
   display: flex ;
   color: darkturquoise;
   background-color: white;
   height: 45px;
   width: 100%;
   border-radius: 5px;
}

.logo
{
    padding-top: 10px;
    padding-right: 100px;
}

.logo > a
{
    padding: 10px;
    flex: 2;
    text-decoration: none;
}

.logo-pic
{
    padding: 10px;
}

.menu
{
    flex: 1;
    color: white;
    font-size: 12px;
    padding-top: 13px;
}

.menu > ul
{
    display: flex;
    list-style: none;
}

#btn1
{
    padding-left: 250px;
}

/* .menu>ul>li>a
{
    text-align: end;
} */

.menu .btn
{
    background-color: transparent;
    padding: 10px 35px;
    color: #1f4498;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 2px;
}

.menu .btn:hover
{
    background-color: #1f4498;
    color: white;
    text-decoration: none;
    border-radius: 2px;
}

.menu-content
{
    display: flex;
}

.main-text
{
    flex: 1;
    color: #1f4498;
    padding-top: 1rem;
    padding-left: 57%;
}

.classtypes
{
    width: 10rem;
    padding: 15px;
    background-color: whitesmoke;
    font-size: 15px;
    font-family: 'Muli';
}

.proceedbtn{
    font-size: 15px;
    text-decoration: none;
    background-color: #ec2a2b;
    padding: 15px;
    font-family: 'Roboto';
    color: snow;
    border: none;
    border-radius: 3px;
    transition: .4s;
    cursor: pointer;
}

.proceedbtn:hover{
    background-color: #be2b2b;
}

/* END OF HOME PAGE */

/* CLASS 1 FORM PAGE */

.mainclassa{
    width: 100%;
    height: 100vh;
    background-color: #1f4498;
}

.maincontent_form{
    padding: 0 6rem 4rem;
}

.formfield_a{
    padding: 2.5rem 3rem;
    height: 380px;
    color: #1f4498;
    border-radius: 10px;
    border: steelblue;
    background-color: white;
}

.formstyle{
    text-align: left;
    font-size: 15px;
    font-family: "Roboto";
}

input[type=text], input[type=date]{
    width: 40%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label{
    padding-right: 3rem;
    font-family: "Montserrat";
}

label[for="birthday"]{
    padding-right: 48px;
}

label[for="birthplace"]{
    padding-right: 43px;
}

label[for="gender"]{
    padding-right: 2rem;
    padding-left: 100px;
}

label[for="gender1"]{
    padding-right: 0;
    padding-left: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Montserrat";
    opacity: 75%;
    font-size: 12px;
}

.submitform{
    font-size: 15px;
    text-decoration: none;
    background-color: #ec2a2b;
    padding: 10px 35px;
    font-family: 'Muli';
    color: snow;
    border: none;
    border-radius: 2px;
    transition: .4s;
    cursor: pointer;
}

.submitform:hover{
    background-color: #be2b2b;
}

#birthday{
    width: 20%;
}

#fname, #lname{
    width: 35%;
}

#minitial{
    width: 10%;
}

#address, #birthplace{
    width: 81%;
}

.civilstatus
{
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20%;
    padding: 8px;
    background-color: whitesmoke;
    font-size: 13px;
    font-family: 'Muli';
}

/* \CLASS AB Addtl Information */

.mainclassab{
    width: 100%;
    height: 100vh;
    background-color: #1f4498;
}

.formfield_ab{
    padding: 2.5rem 3rem;
    height: 940px;
    color: #1f4498;
    border-radius: 10px;
    border: steelblue;
    background-color: white;
}

smalltext{
    font-size: 13px;
}

.formstyle > p{
    font-size: 18px;
    padding: 1rem;
    font-family: 'Muli';
}

#profession{
    width: 62.2%;
}

#citizenship{
    width: 36%;
}

#acrnum, #taxaccnum, #weight, #height{
    width: 27%;
}

label[for="acrnum"]{
    padding-right: 6.8rem;
}

label[for="taxaccnum"]{
    padding-right: 4.5rem;
}

label[for="citizenship"]{
    padding-left: 5rem;
    padding-right: 1rem;
}

label[for="weight"]{
    padding-left: 3rem;
    padding-right: 5rem;
}

label[for="height"]{
    padding-right: 4.5rem;
<<<<<<< HEAD:style.css
}

/* CLASS C Addtl Information */

.mainclassc{
    width: 100%;
    height: 100vh;
    background-color: #1f4498;
}

.formfield_c{
    padding: 2.5rem 3rem;
    height: 670px;
    color: #1f4498;
    border-radius: 10px;
    border: steelblue;
    background-color: white;
}

.mainclassc #fname {
    width: 40%;
}
.mainclassc #minitial {
    width: 10%;
}
.mainclassc #lname {
    width: 40%;
}

#corporation {
    width: 81%;
}

label[for="placeofreg"]{
    padding-right: 55px;
}

label[for="natureofbusiness"]{
    padding-right: 60px;
}

label[for="nbsptin"]{
    padding-right: 136px;
}

label[for="grossearn"]{
    padding-right: 74px;
}

#placeofreg, #natureofbusiness, #nbsptin{
    width: 50%;
}

/* Admin Login */

.main_login{
    width: 100%;
    height: 100vh;
    background-color: #1f4498;
}

#username, #password{
    width: 65%;
    padding: 13px 17px;
    margin: 1rem 1rem 0rem 4rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#username{
    margin-top: 3rem;
}

#password{
    margin-bottom: 1rem;
}

.logincontainer{
    padding: 4rem 18rem;
}

.loginform{
    background-color: white;
    border-radius: 10px;
}

.submitlogin{
    width: 65%;
    font-size: 15px;
    text-decoration: none;
    background-color: #1f4498;
    padding: 10px 15px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .4s;
    cursor: pointer;
    margin-bottom: 3rem;
    margin-right: 12px;
}

.submitlogin:hover{
    color: #1f4498;
    background-color: #567fdd;
} 

.report_classa{
    padding: 2.5rem 3rem;
    height: 380px;
    color: #1f4498;
    border-radius: 10px;
    border: steelblue;
    background-color: white;
}

.content_report{
    padding: 0 6rem 4rem;
}

.mainreport{
    width: 100%;
    height: 100vh;
    background-color: #1f4498;
}